# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Optional
*.log
.env
